
//colors
$primary-color: #12507A;
$dark-primary: #042d47;
$secondary-color: #3e3e3e;
$light-color: #ffffff;

$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;

$text-color: #2e2e2e;
