@import './theme.scss';

//if you want to break your style in many chunks break on many file but import in this
//eg if you create admin.scss then you have to import admin.scss in this main_style.css

.App {
  text-align: center;
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }
  }
  .App-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
