$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;

//font-sizes
$title-size: 2.4rem;
$accent-size: 1.6rem;

//font-family
$title-font: 'Poppins','sans-serif';
$accent-font: 'Poppins','sans-serif';

